<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reservation Confirmation</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-6jZstj1+mQ2AhngMCxb+FwDmPakL6GK9SvC8cKjIZdGSzGUs7a4L4tu8bLw+hrgsC92O7Am9jvYq3zWbkSkLA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="confirm.component.css">
 
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-0">
          <div class="card-body">
            <h2 class="card-title">Reservation Confirmed!</h2>
            <div class="mt-4">
              <p>Your Flight Reservation is Completed. The Confirmation Code is: <span class="text-primary">{{reservationId}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-12kcbO/wOJf/dyI2r8W3lJ+xvGW+YlgZbNQu8xWcwkRJw0j+g/KfNCzWc9XsIOMbWHo/LJca+HfW7x8+oRh/GA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
